.desc_info_box {
  width: 50%;
  height: 100%;
  float: left;
}
.desc_info_box .desc_info {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  background-color: #ffffff;
  border: 1px solod #e1e5e6;
  box-shadow: #e3e7e8 4px 4px 10px 3px;
}
.desc_info_box .desc_info .ant-card-body {
  width: 100%;
  height: 46%;
  padding: 0;
}
.desc_info_box .desc_info .ant-card-body img {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}
.desc_info_box .desc_info .ant-card-meta-detail {
  margin: 20px 20px;
  letter-spacing: 2px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
