.desc_info_box{
    width: 50%;
    height: 100%;
    float: left;
    background-color: #ecf0f9;
    .desc_info{
        width: 85%;
        height: 95%;
        margin: 0 auto;
        background-color:#ffffff ;
        border: 1px solod #e1e5e6;
        box-shadow:#e3e7e8 4px 4px 10px 3px;
    }
}
