@import '../../../utils/color.less';

.admin_app {
  
    // height: 100vh;
    .ant-layout {
        min-height      : 100vh;
        // .ant-layout-sider {
        //     width: 15.625rem!important;
        //     max-width: 15.625rem!important;
        //     min-width: 15.625rem!important;
        // }
    }

    #components-layout-demo-custom-trigger {
        height: 100%;

        .trigger {
            font-size  : 18px;
            line-height: 64px;
            padding    : 0 24px;
            cursor     : pointer;
            transition : color 0.3s;

            &:hover {
                color: (@themeColor);
            }
        }

        .logo {
            height         : 35px;
            // background: rgba(255, 255, 255, 0.2);
            margin         : 16px;
            // text-align: center;
            display        : flex;
            justify-content: center;
            align-items    : center;

            span {
                margin-left  : .8125rem;
                font-size    : 25px;
                color        : #fff;
                // width: 95.42px;
                overflow     : hidden;
                text-overflow: ellipsis;
                white-space  : nowrap;
            }
        }
    }

    .ant-breadcrumb {
        padding-left : 20px;
        margin-bottom: 0;
    }

    .admin_header {
        position: relative;

        .user_info {

            position   : absolute;
            display    : flex;
            align-items: center;
            top        : 0;
            right      : 3rem;
            cursor     : pointer;

            .callback_home {
                margin-right: 1.875rem;
                display     : flex;

                a {
                    display : flex;
                    // color: inherit;
                }
            }

            .user_name {
                margin-left  : .625rem;
                display      : block;
                width        : 3.5625rem;
                overflow     : hidden;
                text-overflow: ellipsis;
                white-space  : nowrap;
            }

        }

        @media (max-width:800px) {
            .user_info {
                right: 0;
            }
        }
    }
}

// 把后台页面内容区内边距设置为0
.ant-layout-content {
    padding: 0 !important;
}