.active {
  color: #3db389 !important;
  border-color: #3db389 !important;
}

.ant-btn {
  color: rgba(0, 0, 0, 0.65);
}

.ant-btn:hover,
.ant-btn:focus {
  color: #3db389;
  border-color: #3db389;
}

.sign_in {
  width: 100%;
  height: 100%;
  display: flex;

  .tabs {
    width: 40%;

    .card {
      width: 100%;

      .card_grid {
        width: 50%;
        display: flex;
        align-items: center;
        height: 0.2rem;

        span {
          font-size: 0.9rem;
        }
      }
    }
  }

  .data_statistic {
    width: 50%;
    margin-left: 10%;

    .data_button {
      display: flex;
      width: 100%;
      flex-direction: row-reverse;

      .data_show {
        width: 100%;

        .data_chart {
          width: 100%;
          height: 50vh;
        }

        .data_list {
          width: 100%;
          // margin-left: 10%;
          margin-top: 1rem;

          .sign_in_title {
            font-family: "微软雅黑";
            font-weight: bold;
          }

          .sign_in_number {
            font-size: 1.6rem;
            display: flex;
            justify-content: center;
          }
        }
      }
    }
  }

  @media(max-width: 800px) {

    .tabs {
      width: 100%;
    }

    .data_statistic {
      margin-top: 100vh;
      width: 100%;
      margin-left: -100%;

      .ant-card-head-title {
        font-size: 0.8rem;
      }

      .data_button {
        .data_show {
          .data_list {
            .sign_in_title {
              font-size: .6rem;
            }
          }
        }
      }
    }

  }
}