.sign_in {
  width: 100%;
  height: 100%;
  padding: 1%;

  .active {
    color: #3db389 !important;
    border-color: #3db389 !important;
  }

  .tabs {
    width: 100%;
    background-color: rgb(255, 255, 255);
    padding: 3%;

    .card_box {
      width: 100%;

      .empty_container {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }

      .card {
        border: none;

        .card_grid_wrap {
          width: calc(100% / 3.2);
          margin: 1%;

          .card_grid_container {
            .span_title {
              font-size: 1.001rem;
              font-weight: 600;
            }

            .span_content {
              font-size: 0.9rem;
              font-weight: 500;
            }
          }
        }
      }
    }
  }

  .data_statistic {
    width: 100%;
    margin-top: 2%;

    .query_team_info {
      width: 100%;
      background-color: rgb(255, 255, 255);
      padding: 3%;

      .choose_time {
        display: flex;
        justify-content: space-between;

        .time_change {}

      }

      .date_chart_time {
        width: 100%;
        height: 30rem;
      }
    }
  }

  @media(max-width: 800px) {

    .tabs {
      // width: 100%;
      // padding-right: 3%;
    }

    .data_statistic {
      margin-top: calc(100vh - 50rem);
      width: 100%;
      // padding-right: 3%;
      display: block;

      .ant-card-head-title {
        font-size: 0.8rem;
      }

      .team_week_info {
        width: 100%;
        margin-top: calc(100vh - 50rem);

        .data_button {
          .data_show {
            .data_list {
              .sign_in_title {
                font-size: .6rem;
              }
            }
          }
        }
      }

      .query_team_info {
        width: 100%
      }

    }

  }
}