.index_top {
    margin-bottom: .9375rem;
}

.my_backtop .ant-back-top {
    bottom: 90px;
    right : 50px;
}

@media (max-width:800px) {
    .my_backtop .ant-back-top {
        bottom: 65px;
        right : 20px;
    }
}

