.all_sign_one {
    margin-bottom: 1.6rem;

    .all_card_left {
        height: 100%;

        .ant-card-body {
            text-align : center;
            padding-top: .625rem;

            .show_data {
                font-size: 24px;
                color    : #000;

                span {
                    font-size: 30px;
                }
            }
        }

    }

    @media (min-width: 1200px) {
        .ant-col.ant-col-sm-24.ant-col-md-8.ant-col-xl-5 {
            display  : block;
            flex     : 0 0 23%;
            max-width: 23%;
        }
    }

    .all_card_right {
        min-height: 20rem;
        height    : 100%;



        .ant-card-extra {
            display: flex;

            .extra_item {
                display     : flex;
                margin-right: 1.5rem;

                a {
                    // margin-left: 1.5rem;
                    padding    : 0 10px;
                    height     : 100%;
                    line-height: 1.875rem;
                    transition : all .2s;
                }
            }
        }

        .active {
            color           : #fff;
            background-color: #1DA57A;
        }
    }

}

.all_sign_two {

    .ant-card-extra {
        display: flex;

        .extra_item {
            display     : flex;
            margin-right: 1.5rem;

            a {
                // margin-left: 1.5rem;
                padding    : 0 10px;
                height     : 100%;
                line-height: 1.875rem;
                transition : all .2s;
            }
        }
    }

    .active {
        color           : #fff;
        background-color: #1DA57A;
    }

    @media (min-width: 1200px) {

        // .ant-col.ant-col-sm-24.ant-col-md-11.ant-col-xl-17 {
        //     display  : block;
        //     flex     : 0 0 73%;
        //     max-width: 73%;
        // }
        // .ant-col-xl-11 {
        //     display  : block;
        //     flex     : 0 0 49%;
        //     max-width: 49%;
        // }
        .ant-col-xl-6 {
            display  : block;
            flex     : 0 0 27%;
            max-width: 27%;
        }
    }

    .all_two_right {
        .ant-card {
            height: 100%;
        }
 

        .stu_info {
            color: black;

            .stu_header {
                font-size: 16px;
            }

            .stu_body {
                .ant-empty {
                    width: 100%;
                    height: 438px;
                    .ant-empty-image{
                        margin-top: 120px;
                    }
                }
                margin-top     : 1rem;
                display        : flex;
                flex-wrap      : wrap;
                justify-content: space-between;
                .stu_body_div {
                    width: 100%;
                    display        : flex;
                    flex-wrap      : wrap;
                    justify-content: space-between;
                }
                .stu_body_div >span {
                    text-align: center;
                    min-height: 130px;
                    padding: .75rem;
                    border: 1px solid #eee;
                    flex :0 0 49.9999%;
                    
                    >span{
                        word-break:break-all;
                        display: block;
                        font-size: 20px;
                        margin-top: .8rem;
                    }
                    transition: all .2s;
                    &:hover {
                        box-shadow: 0 0 .625rem #eee;
                    }
                }
                
                @media (max-width:768px) {
                    span {
                        flex :0 0 49.9999%;
                        // height: 130px;
                    }
                }
        
                @media (min-width:768px) {
                    span {
                        flex :0 0 49.9999%;
                        // height: 130px;
                    }
                }
                .stu_footer {
                    width: 100%;
                    .ant-btn.ant-btn-primary {
                        width: 100%;
                        margin-top: 1rem;
                        overflow: hidden;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                    }
                }
            }
            
        }
    }

}